<% provide(:title, "Blog") %>
<style>
  div {
     padding-left:50px;
     padding-right:250px;

    margin: 25px, 50px, 25px, 50px;
  }
</style>

<script type='text/javascript'>                                                                
  $('#mydiv').show();                                                                          
</script>
    
<div id='mydiv' style='display:none'>
  JQUERY IS WORKING!!! 
</div> 


<div>
  <h1>Blog</h1>
  <p>Never really did a blog before, but here goes:<br><br>
  My nickname is Koko.  Really only my niece and sisters still call me Koko.
  The story my parents told me is that when I was a very young child, I couldn't
  pronounce my sister's name: Kendra.  I called her Ka Ka.  Mom couldn't let me
  go around calling my sister spanish word for shit, so she convinced me to say
  Koko instead.  Well I just had to have that name because I really didn't like
  my name (what kid does?). So I was Koko. When I was about five, mom convinced
  to start have people call me by my first name.  She even threw a 'Bruce Day'
  party.  All the kids from my pre-school came over and we proceeded to celebrate
  my given name.<br><br>
  Johnny came with a present.  My mom said "Oh Johnny, you didn't need to bring a
  present, it's not a birthday party."  Johnny asked mom what type of party is this
  then? Mom explained to Johnny the type of party and that I was going to be called
  Bruce from now on.  Johnny exclaimed "Bruce!! YUK!!".  Nearly brought me to tears,
  but I stuck with it and have been Bruce ever since.  Another kid, Rebecca, I hadn't
  seen again after pre-school until I got into high-school.  She yelled out to me
  from across the hall-way, "Hi Koko" so my nick name still lingers.
  </p>
</div>
