<% provide(:title, "Home") %>

<style>
   th, td {
      padding-left:40px;
      padding-right:40px;
   }
   div {
      padding-left:40px;
      padding-right:40px;

     margin: 25px, 50px, 25px, 50px;
   }
</style>

<table>
  <tr>
    <td><%= image_tag "JustMe.jpg", height: 300 %></td>
    <td><h1>Welcome to my website</h1>
        <p>Never been much of an entrepreneur, but lately I have been having difficulties
           finding work in my field.  I am not sure if it's because of my age, I am 58, or
           if the competition for software engineering jobs are just fierce.  I am really
           not much of a 'go-getter' neither.  I am a talented engineer, but not such a great
           salesperson.  Anyway, took a cyber-security boot camp course at DU hoping that
           would open some new doors for me.  Perhaps too early to tell, but now I am
           feeling compelled to take all of these tests to get all of these certifications
           that just seem so important to percpective employers these days.  Times are
           different.  Employers really don't grasp what real engineering is.  Anyway, in
           the meantime, I am pursuing some new adventures.  Starting to drive for Lyft/Uber,
           managing two properties that just happened to fall in my lap, and seeking new
           students to teach (and to learn from).</p>
        <p>Last time I was laid off from engineering, I substituted for Aurora public
           schools.  Mostly loved it, but had some pretty bad days as well as I am sure
           all teachers can relate to.  I thought about becoming a regular teacher, but
           that meant two more years of school for a fraction of pay, and ridiculas politics.
           I went back into engineering and within about four years found mysel out of work,
           yet again.  Anyway, that's my boring life in a nutshell.  If you haven't checked
           out my video, please do:
    </td>
  </tr>
</table>
<div>
  <h2>Guitar Lessons:</h2>
  <p>Offering beginning guitar lessons.  I follow traditional, Suzuki, and non-traditional teaching methods.
     I believe in learning how best a student learns.  I teach music theory and introduce reading music,
     though I don't push to hard.  I played with the most phenomenal violinist I have ever had the pleasure
     of meeting.  She is dyslexic and could not read a lick of sheet music.  I for one, need the music
     right in front of me in order for me to learn it.  We all learn in different ways, and I feel the
     best motivtion is to teach in a way that the student learns best.  My lessons are therefor very
     customizable.  There is no formula that I follow</p>
  <% if logged_in? %>
     <h3>Click here for status</h3>
  <% else %>
    <h3><i>Sign up for initial lesson. First lesson is free!</i></h3>
    <h2><%= link_to "Click here to schedule free initial lesson!", scheduler_timezone_path %></h2>
  <% end %>

  <h2>Math/Science Tutoring:</h2>
  <p>Algebra, trig, calculas, physics and high school level chemistry.  I am a science geek, teaching
     methods similar to the way I approach music.  I seldom find it difficult to spark interes in math
     even when approached some of the most stubborn students with comments such as "I am no good at math
     Mr. Law" or "I hate math Mr. Law".  Wished I had a dime for every student that told me that. (Or has
     inflation raised that quote to a dollar?)</p>
  <h3><i>Link to page three here:  Tell me about yourself!</i></h3>
</div>

