<br><h1>L1 Lesson Two: Guitar Parts II</h1>
<div id='nextLesson'><button class='l1l2 btn btn-primary' id='btn'>START LESSON</button></div>
<table id='guitarStringsTable' class='guitarstrings'>
  <tr>  <!-- Row 1 -->
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
  </tr>
  <tr>  <!-- Row 2 -->
    <td class='strings' rowspan='4' colspan='9' id='l1l2r2c1'>
           The following represents<br>
           the guitar strings of standard<br>
           tuning. This should be memorized.<br><br>
           There are alternative tunings,<br>
           but that won't be covered<br>
           in my lesson plans.
    </td>
    <td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td>
    <td class='strings'></td>
  </tr>
  <tr id='strs'>  <!-- Row 3 -->
    <td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td>
    <td class='strings'></td>
  </tr>
  <tr>  <!-- Row 4 -->
    <td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td>
 
  </tr>
  <tr>  <!-- Row 5 -->
    <td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td>
 
  </tr>
  <tr>  <!-- Row 6 -->
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'><td class='strings'></td>
        <td id='l1l2r6c6' class='strings'>E</td>
        <td id='l1l2r6c7' class='strings'>A</td>
        <td id='l1l2r6c8' class='strings'>D</td>
        <td id='l1l2r6c9' class='strings'>G</td>
        <td id='l1l2r6c10' class='strings'>B</td>
        <td id='l1l2r6c11' class='strings'>e</td>
    <td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
 
  </tr>
  <tr>  <!-- Row 7 -->
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
 
  </tr>
  <tr>  <!-- Row 8 -->
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
  </tr>
  <tr>  <!-- Row 9 -->
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
  </tr>
  <tr>  <!-- Row 10 -->
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
    <td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td><td class='strings'></td>
  </tr>

</table><br>
