
<h1>Level1 Lesson1</h1>
<div class='ll1'>
<p id='l1l1Info'>Though I don't think it's important to memorize the different 
guitar parts, I think it's at least important to be very familiar to them.  Click next to learn guitar part names:</p>
</div>
<center id='guitar_button'><button class='l1l1 btn btn-primary' id='btn'>NEXT</button></center>
<table id='guitar' class='fullguitar'>
  <tr>
    <td id='r1c1' class='guitar'></td><td id='r1c2' class='guitar'></td><td class='guitar'></td><td class='guitar'></td><td class='guitar'></td>
  </tr>
  <tr>
    <td class='guitar'></td><td class='guitar'></td><td id='r2c3' class='guitar'></td><td class='guitar'></td><td id='r2c5' class='guitar'></td>
  </tr>
  <tr>
    <td class='guitar'></td><td class='guitar'></td><td class='guitar'></td><td id='r3c4' class='guitar'></td><td class='guitar'></td>
  </tr>
  <tr>
    <td class='guitar'></td><td class='guitar'></td><td class='guitar'></td><td id='r4c4' class='guitar'></td><td id='r4c5' class='guitar'></td>
  </tr>
  <tr>
    <td id='r5c1' class='guitar'></td><td class='guitar'></td><td id='r5c3' class='guitar'></td><td class='guitar'></td><td class='guitar'></td>
  </tr>
  <tr>
    <td id='r6c1' class='guitar'></td><td id='r6c2' class='guitar'></td><td class='guitar'></td><td class='guitar'></td><td class='guitar'></td>
  </tr>
</table><br>
<div id='myhand' class='ll2'><p id='musicFont'>Music Symbols: &#x1d100 &#x1d101 &#x1d102 &#x1d103 &#x1d104 &#x1d105 &#x1d106 &#x1d107</p>
  <br><br><p id='l1l1s2Info'>Knowing the letters and numbers designated for each finger IS important and should be memorized:</p>
  <div id='l1l1s2InfoBlue'><table><tr><td id='l1l1s2InfoBlueTd' class='hand'>Press the begin button when ready to review:  </td><td id='hands_button'><button class='l1l1 btn btn-primary' id='btn'>BEGIN</button></td></tr></table></div>
</div>
<table id='myLeftHand' class='bothhands'>
  <tr>
    <td class='hand'></td><td id='hr1c2' class='hand'>3</td><td id='hr1c3' class='hand'>2</td><td class='hand'></td><td class='hand'></td>
    <td class='hand'></td><td class='hand' id='hr1c7'>m</td><td class='hand' id='hr1c8'>a</td><td class='hand'></td><td class='hand'></td>
  </tr>
  <tr>
    <td class='hand' id='hr2c1'>4</td><td class='hand'></td><td class='hand'></td><td id='hr2c4' class='hand'>1</td><td class='hand'></td>
    <td class='hand' id='hr2c6'>i</td><td class='hand'></td><td class='hand'></td><td class='hand' id='hr2c9'>c</td><td class='hand'></td>
  </tr>
  <tr>
    <td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td><td id='hr3c5' class='hand'>t</td>
    <td class='hand' id='hr3c6'>p</td><td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td>
  </tr>
  <tr>
    <td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td>
    <td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td>
  </tr>
  <tr>
    <td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td>
    <td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td>
  </tr>
  <tr>
    <td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td>
    <td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td><td class='hand'></td>
  </tr>
</table><br>

<br><br><br>



