<% provide(:title, "User") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
      Status: <%= @user.usertype %><br>
      Email:  <%= @user.email %>
      </p>
    </section>
  </aside>
</div><br>
<!-- Do not think there is a way I can set variables 
     before calendar is loaded, try this field in a form on a new page? -->
Date: <input type="text" class="mydatepicker">
