<br><h1>L1 Lesson Four: Guitaring, Scales, YAWK!!</h1>
<p id='l1l5instuctions' class='instructions'>We are going to work on what is called pentonic scales.  As oppose to a<br>
                        diatonic scale, a pentonic scale includes five notes per octave in a <br>
                        given key, where a diatonic scale includes all seven notes.<br><br>
                        For now, we skip two notes.  Later we re-introduce these two notes as<br>
                        'happy' notes.<br><br></p>
  <div class='mybutton'>
     <button id='nextl1l5' class='l1l5 btn btn-primary'>NEXT</button>
  </div>


