<br><h1>L1 Lesson Three: Music Theory I</h1>
<table id='circleOfFifthsTable' class='bluebackground'>
  <tr>  <!-- Row 1 -->
    <td class='cofs' id='l1l3r1c1' colspan=18>
      <div class='buttoncontainer'>
        <div id='l1lr3instructions'>
          This lesson is about music keys.  There are 24 common keys, 12 minor<br>
          keys and 12 major keys. In this lesson, we are going to introduce<br>
          what is called the circle of fifths that help us visualize these keys.
        </div>
        <div class='mybutton'>
           <button id='nextl1l3' class='l1l3 btn btn-primary'>CIRCLE OF FIFTHS</button>
        </div>
      </td>
   
    </tr>
    <tr>  <!-- Row 2 -->
      <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
      <td class='cofs' id='l1l3r2c5' rowspan=2 colspan=2><!--F--></td>
      <td class='cofs'></td>
      <td id='l1l3r2c8' class='cofs'><!--C--></td><td class='cofs'></td>
      <td id='l1l3r2c10' class='cofs' colspan=3 rowspan=2><!--G--></td>
      <td class='cofs'></td><td class='cofs'></td>
      <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    </tr>
    <tr id='strs'>  <!-- Row 3 -->
      <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
      <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
      </td><td class='cofs'></td>
    </tr>
    <tr>  <!-- Row 4 -->
      <td class='cofs'></td><td class='cofs'></td>
    <td class='cofs' id='l1l3r4c2' colspan=2><!--B&#x266d--></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td id='l1l3r4c12' class='cofs' colspan=2><!--D--></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
  </tr>
  <tr>  <!-- Row 5 -->
    <td class='cofs'></td>
    <td id='l1l3r5c2' class='cofs' colspan=2><!--E&#x266d--></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td id='l1l3r5c13' class='cofs' rowspan=2><!--A--></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
  </tr>
  <tr>  <!-- Row 6 -->
    <td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
  </tr>
  <tr>  <!-- Row 7 -->
    <td class='cofs' id='l1l3r7c1' colspan=4><!--A&#x266d/G&#x266f--></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td>
    <td id='l1l3r7c12' class='cofs' colspan=2><!--E--></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td>
  </tr>
  <tr>  <!-- Row 8 -->
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td id='l1l3r8c5' class='cofs' rowspan=2 colspan=2><!--C&#x266F--></td>
    <td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td>
    <td id='l1l3r8c10' class='cofs' rowspan=2 colspan=2><!--B--></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
  </tr>
  <tr>  <!-- Row 9 -->
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td id='l1l3r9c7' class='cofs' colspan=3><!--F&#x266F--></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
  </tr>
  <tr>  <!-- Row 10 -->
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
    <td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td><td class='cofs'></td>
  </tr>

</table><br>
