@import "bootstrap-sprockets";
@import "bootstrap";

@gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:      border-box;
  -webkit-box-sizing:   border-box;
  box-sizing:           border-box;
}

body {
   padding-top: 60px;
}
section {
   overflow: auto;
}
textarea {
   resize: vertical;
}
.center {
  margin-top: 10px;
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
  margin-left: 30px;
}
.row {
  margin-left: 100px;
}
.col {
  margin-top: 30px;
}
.dbl_space {
  margin-bottom: 30px;
}
.ml-1 {
  padding-left: 50px;
}
.error_description {
  background-color:yellow;
  color:red;
}
p.instructions {
  margin-top: 30px;
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.0em;
  font-weight:normal;
}
aside {
  section.user_info {
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px
    }
  }
}
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.gravatar {
  float: left;
  margin-right:10px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
