table.circleoffifths {
   background-image:image-url('LevelOne/CircleOfFifths.png');
   background-repeat:no-repeat;
   margin-left:20px;
   //border: 1px solid green;
}
table.keyofg {
   background-image:image-url('LevelOne/CircleOfFifthsWithRomanNumerals.png');
   background-repeat:no-repeat;
   margin-left:20px;
}
table.keyofgcontinued {
   background-image:image-url('LevelOne/CircleOfFifthsWithRomanNumerals.png');
   background-repeat:no-repeat;
   margin-left:20px;
}
table.keyofgcontinued2 {
   background-image:image-url('LevelOne/CircleOfFifthsWithRomanNumerals.png');
   background-repeat:no-repeat;
   margin-left:20px;
}
table.majorchordsofg {
   background-image:image-url('LevelOne/CircleOfFifthsWithRomanNumerals.png');
   background-repeat:no-repeat;
   margin-left:20px;
}
table.l1l3review {
   background-image:image-url('LevelOne/CircleOfFifthsCGD.png');
   background-repeat:no-repeat;
   margin-left:20px;
}
table.bluebackground {
   background-repeat:no-repeat;
   margin-left:20px;
}
td.cofs {
   min-width:50px;
   height:75px;
   //border: 1px solid green;
}
td#l1l3r1c1 {
    font-family:Noto;
    font-size:1.3em;
    font-weight:normal;
}
td#l1l3r2c8 {    // C
    padding-left:5px;
    padding-top:7px;
 
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r2c10 {   // G
    padding-left:30px;
    padding-top:-5px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r4c12 {   // D
    padding-left:30px;
    padding-top:0px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r5c13 {  // A
    padding-left:0px;
    padding-top:30px;
    vertical-align:top;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r7c12 {  // E
    padding-left:30px;
    padding-top:0px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r8c10 {  // B
    vertical-align:top;
    padding-left:30px;
    padding-top:30px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r9c7 {  // F sharp
    vertical-align:top;
    padding-left:50px;
    padding-top:0px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r8c5 {  // C sharp
    vertical-align:center;
    padding-left:20px;
    padding-top:0px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r7c1 {  // A flat G sharp
    vertical-align:center;
    padding-left:40px;
    padding-top:0px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r5c2 {   // E flat
    vertical-align:bottom;
    padding-left:40px;
    padding-top:20px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r4c2 {   // B flat
    vertical-align:top;
    padding-left:20px;
    padding-top:0px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3r2c5 {   // F
    vertical-align:center;
    padding-left:40px;
    padding-top:0px;
    font-family:Noto;
    font-size:3.0em;
    font-weight:bold;
}
td#l1l3Rr2c1 {   // general questions
    vertical-align:top;
    font-family:Noto;
    font-size:1.0em;
    font-weight:normal;
}
td#l1l3Rr2c5 {   // C
    vertical-align:bottom;
    padding-left:25px;
    padding-top:0px;
    font-family:Noto;
    font-size:2.0em;
    font-weight:bold;
}
td#l1l3Rr3c3 {   // G
    vertical-align:top;
    padding-left:55px;
    padding-top:0px;
    font-family:Noto;
    font-size:2.0em;
    font-weight:bold;
}
td#l1l3Rr4c5 {   // D
    vertical-align:center;
    padding-left:27px;
    padding-top:0px;
    font-family:Noto;
    font-size:2.0em;
    font-weight:bold;
}
button#nextl1l3 {
}
